<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="jumbotron">
          <h1>Dear Diary</h1>
          <h2>by @chadian</h2>
          <img class="img-responsive center-block img-circle" width=150 height=150 src="{{model.avatarUrl}}" alt="Blog header image">
        </div>
      </div>
    </div>
  </div>
</header>
<section class="row">
  <div class="container">
    <div class="col-md-12">
      {{blog-post-composer isDisabled=fastboot.isFastBoot savePost=(action 'savePost')}}
    </div>
  </div>
</section>
<section class="row">
  <div class="container">
    <div class="col-md-12">
      <h3>Blog Posts</h3>
      <ul class="posts list-unstyled">
        {{#each pagedContent as |post|}}
          <li class="post">
            {{blog-post rawTitle=post.title rawDate=post.date rawContent=post.content}}
          </li>
        {{/each}}
      </ul>
      {{page-numbers content=pagedContent}}
    </div>
  </div>
</section>